<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/angular_material/1.1.0/angular-material.min.css" />
    <link rel="stylesheet" href="styles/k361.css" />

    <title>k361</title>

</head>

<body ng-app="k361">

    <div ng-controller="Controller" ng-init="Setup()" layout="column" layout-fill ng-cloak>

        <div layout="row" flex>

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column" md-whiteframe="4">

                <md-toolbar class="md-hue-2">

                    <div class="md-toolbar-tools">

                        <h2 style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" flex>Nawigacja</h2> <!-- EN: Navigation -->

                    </div>

                </md-toolbar>

                <md-menu-content width="4" style="padding:0;">

                    <md-menu-item>
                        <md-button ng-click="ToggleTab(1);CloseMenu();">
                            <md-icon md-svg-icon="images/playlist.svg"></md-icon>
                            Playlista
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="ToggleTab(2);CloseMenu();">
                            <md-icon md-svg-icon="images/library.svg"></md-icon>
                            Biblioteka
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="ToggleTab(3);CloseMenu();">
                            <md-icon md-svg-icon="images/settings.svg"></md-icon>
                            Ustawienia
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="Logout()">
                            <md-icon md-svg-icon="images/logout.svg"></md-icon>
                            Wylogowanie
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

            </md-sidenav>

            <md-content layout="column" flex>

                <md-toolbar class="md-hue-2">

                    <div class="md-toolbar-tools" flex>

                        <md-button class="md-icon-button" aria-label="Menu" ng-disabled="!MobileMode" ng-click="OpenMenu()">
                            <md-icon md-svg-icon="images/menu.svg" ng-show="MobileMode"></md-icon>
                            <md-icon md-svg-icon="images/menu-disabled.svg" ng-show="!MobileMode"></md-icon>
                        </md-button>

                        <h2 style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" flex>k361 - {{ToolbarText}}</h2>

                        <md-button class="md-icon-button" aria-label="Github" ng-href="https://github.com/bartlomiej-zdrojewski/k361" target="_blank">
                            <md-icon md-svg-icon="images/github.svg"></md-icon>
                        </md-button>

                    </div>

                </md-toolbar>

                <md-content style="height:100%;" layout="column">

                    <div style="height:100%;" layout="row" layout-align="center center" ng-show="!ContentReady">
                        <md-progress-circular md-mode="indeterminate" md-diameter="{{ !MobileMode && '80' || '60' }}"></md-progress-circular>
                    </div>

                    <md-button ng-style="{ 'transform' : ( ActiveTab==2 && !MobileMode ) && 'scale(1)' || 'scale(0)' }" style="bottom:35px;right:35px;position:fixed" ng-class="{ visible: ( ActiveTab==2 && !MobileMode ) }" class="md-primary md-raised md-fab md-fab-bottom-right fab-top" aria-label="Stwórz ścieżkę" ng-click="CreateTrack($event)"> <!-- EN: Create track -->
                        <md-icon md-svg-icon="images/library-create.svg"></md-icon>
                        <md-tooltip md-direction="left">Stwórz ścieżkę</md-tooltip> <!-- EN: Create track -->
                    </md-button>

                    <md-tabs style="min-height:100%;" class="hide-tab-bar" ng-show="ContentReady" md-dynamic-height>

                        <md-tab md-active="ActiveTab==1" label="Playlist">

                            <div id="Playlist" layout="column" layout-align="center none">

                                <div class="controls" md-whiteframe="1" flex>

                                    <div layout="row" layout-sm="column" layout-xs="column">

                                        <div layout="row" layout-align="center center" flex="50" flex-sm="100" flex-xs="100">

                                            <span flex="5"></span>

                                            <md-select style="text-align:center;" ng-model="PlaylistControls.Values.day" placeholder="Dzień" flex> <!-- EN: Day -->
                                                <md-option ng-value="day" ng-repeat="day in PlaylistControls.Days">{{day}}</md-option>
                                            </md-select>

                                            <span flex="5"></span>

                                            <md-select style="text-align:center;" ng-model="PlaylistControls.Values.month" placeholder="Miesiąc" flex> <!-- EN: Month -->
                                                <md-option ng-value="month" ng-repeat="month in PlaylistControls.Months">{{MonthName[month]}}</md-option>
                                            </md-select>

                                            <span flex="5"></span>

                                            <md-select style="text-align:center;" ng-model="PlaylistControls.Values.year" placeholder="Rok" flex> <!-- EN: Year -->
                                                <md-option ng-value="year" ng-repeat="year in PlaylistControls.Years">{{year}}</md-option>
                                            </md-select>

                                            <span flex="5"></span>

                                            <md-select style="text-align:center;" ng-model="PlaylistControls.Values.hours" placeholder="Godziny" flex> <!-- EN: Hours -->
                                                <md-option ng-value="1">00:00 - 07:00</md-option>
                                                <md-option ng-value="2">07:00 - 17:00</md-option>
                                                <md-option ng-value="3">17:00 - 24:00</md-option>
                                            </md-select>

                                            <span flex="5"></span>

                                        </div>

                                        <div ng-style="{ 'border-left' : ( ( !$mdMedia('xs') && !$mdMedia('sm') ) && 'solid 1px rgba(0,0,0,0.12)' || 'none' ), 'border-top' : ( ( !$mdMedia('xs') && !$mdMedia('sm') ) && 'none' || 'solid 1px rgba(0,0,0,0.12)' ) }" layout="row" layout-align="center center" flex="50" flex-sm="100" flex-xs="100">

                                            <form name="PlaylistControlsForm" layout="row" layout-align="center center" layout-fill>

                                                <span flex="5"></span>

                                                <md-select style="text-align:center;" name="Track" ng-model="PlaylistControls.Values.track" placeholder="Ścieżka" flex> <!-- EN: Track -->
                                                    <md-option ng-value="track.id" ng-repeat="track in Catalog">{{ ( track.title.length > 23 ) && ( track.title.substr( 0, 20 ) + '...' ) || track.title }} - {{ ( track.author.length > 23 ) && ( track.author.substr( 0, 20 ) + '...' ) || track.author }}</md-option>
                                                </md-select>

                                                <span flex="5"></span>

                                                <md-select style="text-align:center;" name="Order" ng-model="PlaylistControls.Values.order" placeholder="Kolejność" flex> <!-- EN: Order -->
                                                    <md-option ng-value="1">o godzinie</md-option> <!-- EN: at hour -->
                                                    <md-option ng-value="2">po ścieżce</md-option> <!-- EN: after track -->
                                                    <md-option ng-value="3">przed ścieżką</md-option> <!-- EN: before track -->
                                                </md-select>

                                                <span flex="5"></span>

                                                <md-input-container style="margin-top:17px;margin-bottom:0;" ng-show="PlaylistControls.Values.order==1" flex>
                                                    <input style="text-align:center;" name="Time" aria-label="Czas" ng-model="PlaylistControls.Values.value" ng-pattern="/^(([0-1]?[0-9])|(2[0-3])):([0-5][0-9]):([0-5][0-9])$/"> <!-- EN: Time -->
                                                    <md-tooltip md-direction="bottom">Czas w formacie HH:MM:SS</md-tooltip> <!-- EN: Time in format HH:MM:SS -->
                                                </md-input-container>

                                                <md-select name="Reference" ng-model="PlaylistControls.Values.value" ng-show="PlaylistControls.Values.order==2||PlaylistControls.Values.order==3" placeholder="Odniesienie" flex> <!-- EN: Reference -->
                                                    <md-option ng-value="entry.id" ng-repeat="entry in Schedule">{{entry.text}}</md-option>
                                                </md-select>

                                                <md-input-container style="margin-top:17px;margin-bottom:0;" ng-show="PlaylistControls.Values.order<1||PlaylistControls.Values.order>3" flex>
                                                    <input aria-label="Puste pole" ng-disabled="true"> <!-- EN: Empty input -->
                                                </md-input-container>

                                                <span flex="5"></span>

                                                <md-button style="max-width:70px;margin:0;" class="md-primary md-raised" aria-label="Dodaj ścieżkę do playlisty" ng-disabled="!ValidatePlaylistControls()" ng-click="AddTrackToPlaylist()" flex> <!-- EN: Add track to playlist -->
                                                    Dodaj
                                                </md-button>

                                                <span flex="5"></span>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                                <div class="timeline" md-whiteframe="1" flex>

                                    <md-list flex>

                                        <md-list-item ng-class="{ 'md-2-line' : element.type == 'TRACK' }" ng-repeat="element in Playlist">

                                            <div style="height:48px;line-height:48px;text-align:center;color:rgba(0,0,0,0.36);" ng-show="element.type=='PAUSE'" flex>
                                                {{ TimeToText(GetTimeFromDate(element.begin),true) }} - {{ TimeToText(GetTimeFromDate(element.end),true) }}
                                            </div>

                                            <div class="md-list-item-text" ng-show="element.type=='TRACK'" layout="column">
                                                <h3>{{element.title}}</h3>
                                                <h4 style="margin: 4px 0 3px;">{{element.author}} - {{element.album}}</h4>
                                            </div>

                                            <md-icon md-svg-icon="images/playlist-move-up.svg" class="md-secondary" aria-label="Przesuń ścieżkę w górę" ng-show="( element.type == 'TRACK' && element.up != '' )" ng-click="SwapTracksInPlaylist(element.id,element.up)"> <!-- EN: Move track up -->
                                                <md-tooltip md-direction="bottom">Przesuń ścieżkę w górę</md-tooltip> <!-- EN: Move track up -->
                                            </md-icon>

                                            <md-icon md-svg-icon="images/playlist-move-down.svg" class="md-secondary" aria-label="Przesuń ścieżkę w dół" ng-show="( element.type == 'TRACK' && element.down != '' )" ng-click="SwapTracksInPlaylist(element.id,element.down)"> <!-- EN: Move track down -->
                                                <md-tooltip md-direction="bottom">Przesuń ścieżkę w dół</md-tooltip> <!-- EN: Move track down -->
                                            </md-icon>

                                            <md-icon md-svg-icon="images/playlist-remove.svg" class="md-secondary" aria-label="Usuń ścieżkę" ng-show="element.type=='TRACK'" ng-click="RemoveTrackFromPlaylist(element.id)"> <!-- EN: Remove track -->
                                                <md-tooltip md-direction="bottom">Usuń ścieżkę</md-tooltip> <!-- EN: Remove track -->
                                            </md-icon>

                                            <md-divider ng-if="!last"></md-divider>

                                        </md-list-item>

                                    </md-list>

                                </div>

                            </div>

                        </md-tab>

                        <md-tab md-active="ActiveTab==2" label="Library">

                            <div id="Library" layout="column" layout-align="center none">

                                <div class="search" md-whiteframe="1" flex>

                                    <input type="text" ng-model="SearchText" ng-change="SearchInCatalog()" />

                                </div>

                                <div class="list" md-whiteframe="1" flex>

                                    <md-list flex>

                                        <md-list-item class="md-3-line" ng-repeat="track in Tracks">

                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{track.title}}</h3>
                                                <h4 style="margin: 4px 0 3px;">{{track.author}} - {{track.album}}</h4>
                                                <p style="font-size:12px;">{{ TimeToWords(track.length) }}</p>
                                            </div>

                                            <md-icon md-svg-icon="images/library-add-to-playlist.svg" class="md-secondary" aria-label="Dodaj ścieżkę do playlisty" ng-click="SelectTrack(track.id)"> <!-- EN: Add track to playlist -->
                                                <md-tooltip ng-style="{ 'display' : !MobileMode && 'initial' || 'none' }" md-direction="bottom">Dodaj ścieżkę do playlisty</md-tooltip> <!-- EN: Add track to playlist -->
                                            </md-icon>

                                            <md-icon md-svg-icon="images/library-{{ ( Audio.playing && Audio.track == track.id ) && 'stop-now' || 'play-now' }}.svg" class="md-secondary" aria-label="Odtwórz lub zatrzymaj odtwarzanie ścieżki" ng-click="ToggleTrack(track.id)"> <!-- EN: Play or stop playing track -->
                                                <md-tooltip ng-style="{ 'display' : !MobileMode && 'initial' || 'none' }" md-direction="bottom">{{ ( Audio.playing && Audio.track == track.id ) && 'Zatrzymaj odtwarzanie ścieżki' || 'Odtwórz ścieżkę' }}</md-tooltip> <!-- EN: Play track / Stop playing track -->
                                            </md-icon>

                                            <md-icon md-svg-icon="images/library-edit.svg" class="md-secondary" aria-label="Edytuj ścieżkę" ng-show="!MobileMode" ng-click="EditTrack(track.id)"> <!-- EN: Edit track -->
                                                <md-tooltip ng-style="{ 'display' : !MobileMode && 'initial' || 'none' }" md-direction="bottom">Edytuj ścieżkę</md-tooltip> <!-- EN: Edit track -->
                                            </md-icon>

                                            <md-icon md-svg-icon="images/library-remove.svg" class="md-secondary" aria-label="Usuń ścieżkę" ng-show="!MobileMode" ng-click="RemoveTrack(track.id)"> <!-- EN: Remove track -->
                                                <md-tooltip ng-style="{ 'display' : !MobileMode && 'initial' || 'none' }" md-direction="bottom">Usuń ścieżkę</md-tooltip> <!-- EN: Remove track -->
                                            </md-icon>

                                            <md-divider ng-if="!last"></md-divider>

                                        </md-list-item>

                                    </md-list>

                                </div>

                            </div>

                        </md-tab>

                        <md-tab md-active="ActiveTab==3" label="Settings">

                            <div id="Settings" layout="column" layout-align="center none">

                                <div layout="row" layout-sm="column" layout-xs="column">

                                    <div layout="row" layout-align="center none" flex="50" flex-sm="100" flex-xs="100">

                                        <div ng-style="{ 'margin-right' : ( ( !$mdMedia('xs') && !$mdMedia('sm') ) && '10px' || '20px' ) }" class="frame" md-whiteframe="1" flex>

                                            <h2 style="margin-top:0px;">Planowanie playlisty</h2>

                                            <div style="margin-left:10px;" layout="column" flex>

                                                <div style="margin-bottom:10px;" layout="column" flex>

                                                    Codziennie, o ustalonej godzinie, zostanie uruchomiony algorytm, który na podstawie dostępnych ścieżek zaplanuje playlistę na dany dzień.
                                                    Będzie brał pod uwagę takie czynniki jak długość ścieżki, jej ocenę i ilość odtworzeń. Utworzona w ten sposób playlista będzie mogła być
                                                    dowolnie edytowana przez użytkownika.

                                                </div>

                                                <md-checkbox style="margin:0;" class="md-primary" ng-model="Settings.playlist_designer" aria-label="Checkbox 1" flex="90">
                                                    Włącz automatyczne planowanie playlisty
                                                </md-checkbox>

                                                <div style="margin-top:10px;margin-left:10px;" layout="column" flex>

                                                    Uruchom codziennie o godzinie:

                                                    <md-input-container style="max-width:250px;margin-top:10px;margin-bottom:0;" flex>
                                                        <input style="margin:0px;text-align:center;" name="LaunchTime" aria-label="Godzina uruchomienia algorytmu planowania playlisty" ng-model="SettingsBuffer.playlist_designer_launch_time" ng-disabled="!Settings.playlist_designer" ng-pattern="/^(([0-1]?[0-9])|(2[0-3])):([0-5][0-9]):([0-5][0-9])$/">
                                                        <md-tooltip ng-style="{ 'display' : Settings.playlist_designer && 'initial' || 'none' }" md-direction="{{ MobileMode && 'bottom' || 'right' }}">Czas w formacie HH:MM:SS</md-tooltip> <!-- EN: Time in format HH:MM:SS -->
                                                    </md-input-container>

                                                </div>

                                                <div style="margin-top:14px;margin-bottom:5px;margin-left:10px;" layout="column" flex>

                                                    Obejmowane przedziały czasowe:

                                                    <ul>
                                                        <li ng-repeat="interval in Settings.playlist_designer_time_intervals">{{interval.text}}</li>
                                                        <li style="outline:none;cursor:pointer;" ng-style="{ 'color' : Settings.playlist_designer && '#3F51B5' || 'rgba(0,0,0,0.38)' }" ng-click="EditTimeIntervals($event,Settings.playlist_designer_time_intervals,Settings.playlist_designer)">dodaj przedział czasowy...</li>
                                                    </ul>

                                                </div>

                                            </div>

                                            <h2>Zastrzeżone godziny</h2>

                                            <div style="margin-left:10px;margin-bottom:5px;" layout="column" flex>

                                                Ścieżki nie mogą być odtwarzane w podanych przedziałach czasowych:

                                                <ul>
                                                    <li ng-repeat="interval in Settings.reserved_time_intervals">{{interval.text}}</li>
                                                    <li style="outline:none;color:#3F51B5;cursor:pointer;" ng-click="EditTimeIntervals($event,Settings.reserved_time_intervals)">dodaj przedział czasowy...</li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <div layout="row" layout-align="center none" flex="50" flex-sm="100" flex-xs="100">

                                        <div ng-style="{ 'margin-top' : ( ( !$mdMedia('xs') && !$mdMedia('sm') ) && '20px' || '0px' ), 'margin-left' : ( ( !$mdMedia('xs') && !$mdMedia('sm') ) && '10px' || '20px' ) }" class="frame" md-whiteframe="1" flex>

                                            <h2 style="margin-top:0px;">Synchronizacja</h2>

                                            <div style="margin-left:10px;margin-bottom:5px;" layout="column" flex>

                                                Przeprowadzaj synchronizację z serwerem co:

                                                <div style="margin-top:5px;" layout="row" flex>

                                                    <md-slider class="md-primary" name="SynchronizationDelay" aria-label="Opóźnienie synchronizacji" ng-model="Settings.synchronization_delay" step="100" min="100" max="5000" flex></md-slider>

                                                    <div style="width:125px;margin-left:15px;margin-right:15px;line-height:48px;">{{Settings.synchronization_delay}} milisekund</div>

                                                </div>

                                            </div>

                                            <h2>Zarządznie playlistą</h2>

                                            <div style="margin-left:10px;margin-bottom:5px;" layout="column" flex>

                                                Wyczyszczenie playlisty doprowadzi do usunięcia całej historii odtwarzania. Zaplanowane ścieżki, które nie zostały jescze odtworzone, nie zostaną usunięte, ani w żaden sposób zmienione.

                                                <div style="margin-top:10px;margin-bottom:10px;" layout="row" flex>

                                                    <span flex></span>

                                                    <div style="width:180px;" layout="row">

                                                        <md-button class="md-primary md-raised" aria-label="Wyczyść playlistę" ng-click="CleanPlaylist()" flex> <!-- EN: Clean playlist -->
                                                            Wyczyść playlistę <!-- EN: Clean playlist -->
                                                        </md-button>

                                                    </div>

                                                    <span flex></span>

                                                </div>

                                                Może doprowadzić to do znacznego poprawienia wydajności serwera.

                                            </div>

                                            <h2>Zarządznie serwerem</h2>

                                            <div style="margin-left:10px;margin-bottom:5px;" layout="column" flex>

                                                Natychmiastowe wyłączenie serwera lub wyczyszczenie wszelkich danych to akcje, które powinny zostać dokładnie przemyślane.

                                                <div style="margin-top:10px;margin-bottom:10px;" layout="row" flex>

                                                    <span flex></span>

                                                    <div style="width:315px;" layout="row">

                                                        <md-button class="md-primary md-raised" aria-label="Wyłącz serwer" ng-click="ShutdownServer()" flex> <!-- EN: Shutdown server -->
                                                            Wyłącz serwer <!-- EN: Shutdown server -->
                                                        </md-button>

                                                        <md-button class="md-primary md-raised" aria-label="Wyczyść dane" ng-click="ClearServerData($event)" flex> <!-- EN: Clear server data -->
                                                            Wyczyść dane <!-- EN: Clear server data -->
                                                        </md-button>

                                                    </div>

                                                    <span flex></span>

                                                </div>

                                                Naciśnięcie dowolnego z powyższych przycisków doprowadzi do przerwania działania serwera i natychmiastowego wylogowania użytkownika.

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </md-tab>

                    </md-tabs>

                </md-content>

            </md-content>

        </div>

    </div>

<script src="static/angularjs/1.5.5/angular.min.js"></script>
<script src="static/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="static/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="static/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="static/angular_material/1.1.0/angular-material.min.js"></script>

<script src="scripts/k361.js"></script>

</body>

</html>